.gpt3__blog-container_article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}
.gpt3__blog-container_article-image {
    width: 100%;
        height: 100%;
        background: var(--color-footer);
}
.gpt3__blog-container_article-image img {
    width: 100%;
    height: 100%;

}
.gpt3__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;

}
.gpt3__blog-container_article-content p {
    color: #FFF;
        font-family: var(--font-family);
        font-size: 0.72806rem;
        font-weight: 700;
        line-height: 2.18419rem;
        /* 300% */

}
.gpt3__blog-container_article-content h3 {
    color: #FFF;
        font-family: var(--font-family);
        font-size: 1.56938rem;
        font-weight: 800;
        line-height: 1.89294rem;
        margin-bottom: 5rem;
        cursor: pointer;

        

}
.gpt3__blog-container_article-content p:last-child {
    color: #FFF;
        font-family: var(--font-family);
        font-size: 0.72806rem;
        font-weight: 700;
        line-height: 2.18419rem;
        cursor: pointer;
       
}

@media screen and (max-width: 550px) {
    .gpt3__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25px;

    }
    
}