.gpt3__cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem ;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.gpt3__cta-content p {
  
color: #0E0E0E;
    font-family: var(--font-family);
    font-size: 0.75rem;

    font-weight: 500;
    line-height: 1.875rem;
 
}

.gpt3__cta-content h3 {
    color: #000;
        font-family: var(--font-family);
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.8125rem;
}
.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.gpt3__cta-btn button {
    
    border-radius: 2.5rem;
        background: #000;
        color: #FFF;
            font-family: var(--font-family);
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.875rem;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            min-width: 150px;
            
        } 

        @media screen and (max-width: 650px) {
            .gpt3__cta {
                flex-direction: column;
            }
            .gpt3__cta-btn {
                margin: 2rem 0 0 ;
            }
            
        }
        @media screen and (max-width: 550px) {
            .gpt3__cta {
                margin: 4rem 2rem;
            }
            .gpt3__cta-content h3 {
               font-size: 24px;
               line-height: 32px;
            }
            .gpt3__cta-btn button {
                font-size: 18px;
                line-height: 32px;
            }
            
        }