.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.gpt3__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;

}

.gpt3__features-container__feature-title h1 {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 4.6875rem;

}

.gpt3__features-container__feature-title div {
    width: 2.375rem;
    height: 0.1875rem;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;

}

.gpt3__features-container__feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.gpt3__features-container__feature-text p {
    width: 20.875rem;
    height: 5.75rem;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    /* 187.5% */
}

@media screen and(max-width: 500px) {
    .gpt3__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;

    }

    .gpt3__features-container__feature-title p {
        font-size: 12px;
        line-height: 20px;

    }

    .gpt3__features-container__feature {
        margin: 1rem 0;
    }

}